/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center content */
body, html {
  height: 100%;
  font-family: sans-serif;
  background-color: #111;
  color: #fff;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
}
